htmlmin
enum34
grpcio
grpcio-tools
numpy>=1.16.0, <2
papermill
python-dateutil
requests
pytz
matplotlib>=3.2, <3.10
idna
genson
numba>=0.56.0, <1
pandas>1.1, <3, !=1.4.0
ydata-profiling
func-timeout
great_expectations
future
pyspark
# for some reason this is needed for great_expectations to work
azure-storage-blob
azure-identity
azure-keyvault-secrets
google-cloud-storage
google-cloud-secret-manager
