htmlmin4 @ git+https://github.com/tatianass/htmlmin.git@master
grpcio
grpcio-tools
numpy
papermill
python-dateutil
requests
pytz
matplotlib
idna
genson
numba
pandas
setuptools<81
fg-data-profiling
func-timeout
pillow>=12.2.0
tornado>=6.5.5
urllib3>=2.7.0